In [1]:
# Loading in required libraries: you will need pandas, seaborn and numpy

import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd

# Reading in the Nobel Prize data
nobel = pd.read_csv("datasets/nobel.csv")

# Explore the data - are there missing values? How many entries do we have?
print(nobel)

     year    category                                              prize  \
0    1901   Chemistry                  The Nobel Prize in Chemistry 1901
1    1901  Literature                 The Nobel Prize in Literature 1901
2    1901    Medicine     The Nobel Prize in Physiology or Medicine 1901
3    1901       Peace                         The Nobel Peace Prize 1901
4    1901       Peace                         The Nobel Peace Prize 1901
5    1901     Physics                    The Nobel Prize in Physics 1901
6    1902   Chemistry                  The Nobel Prize in Chemistry 1902
7    1902  Literature                 The Nobel Prize in Literature 1902
8    1902    Medicine     The Nobel Prize in Physiology or Medicine 1902
9    1902       Peace                         The Nobel Peace Prize 1902
10   1902       Peace                         The Nobel Peace Prize 1902
11   1902     Physics                    The Nobel Prize in Physics 1902
12   1902     Physics                    The Nobel Prize in Physics 1902
13   1903   Chemistry                  The Nobel Prize in Chemistry 1903
14   1903  Literature                 The Nobel Prize in Literature 1903
15   1903    Medicine     The Nobel Prize in Physiology or Medicine 1903
16   1903       Peace                         The Nobel Peace Prize 1903
17   1903     Physics                    The Nobel Prize in Physics 1903
18   1903     Physics                    The Nobel Prize in Physics 1903
19   1903     Physics                    The Nobel Prize in Physics 1903
20   1904   Chemistry                  The Nobel Prize in Chemistry 1904
21   1904  Literature                 The Nobel Prize in Literature 1904
22   1904  Literature                 The Nobel Prize in Literature 1904
23   1904    Medicine     The Nobel Prize in Physiology or Medicine 1904
24   1904       Peace                         The Nobel Peace Prize 1904
25   1904     Physics                    The Nobel Prize in Physics 1904
26   1905   Chemistry                  The Nobel Prize in Chemistry 1905
27   1905  Literature                 The Nobel Prize in Literature 1905
28   1905    Medicine     The Nobel Prize in Physiology or Medicine 1905
29   1905       Peace                         The Nobel Peace Prize 1905
..    ...         ...                                                ...
881  2014    Medicine     The Nobel Prize in Physiology or Medicine 2014
882  2014    Medicine     The Nobel Prize in Physiology or Medicine 2014
883  2014    Medicine     The Nobel Prize in Physiology or Medicine 2014
884  2014       Peace                         The Nobel Peace Prize 2014
885  2014       Peace                         The Nobel Peace Prize 2014
886  2014     Physics                    The Nobel Prize in Physics 2014
887  2014     Physics                    The Nobel Prize in Physics 2014
888  2014     Physics                    The Nobel Prize in Physics 2014
889  2015   Chemistry                  The Nobel Prize in Chemistry 2015
890  2015   Chemistry                  The Nobel Prize in Chemistry 2015
891  2015   Chemistry                  The Nobel Prize in Chemistry 2015
892  2015   Economics  The Sveriges Riksbank Prize in Economic Scienc...
893  2015  Literature                 The Nobel Prize in Literature 2015
894  2015    Medicine     The Nobel Prize in Physiology or Medicine 2015
895  2015    Medicine     The Nobel Prize in Physiology or Medicine 2015
896  2015    Medicine     The Nobel Prize in Physiology or Medicine 2015
897  2015       Peace                         The Nobel Peace Prize 2015
898  2015     Physics                    The Nobel Prize in Physics 2015
899  2015     Physics                    The Nobel Prize in Physics 2015
900  2016   Chemistry                  The Nobel Prize in Chemistry 2016
901  2016   Chemistry                  The Nobel Prize in Chemistry 2016
902  2016   Chemistry                  The Nobel Prize in Chemistry 2016
903  2016   Economics  The Sveriges Riksbank Prize in Economic Scienc...
904  2016   Economics  The Sveriges Riksbank Prize in Economic Scienc...
905  2016  Literature                 The Nobel Prize in Literature 2016
906  2016    Medicine     The Nobel Prize in Physiology or Medicine 2016
907  2016       Peace                         The Nobel Peace Prize 2016
908  2016     Physics                    The Nobel Prize in Physics 2016
909  2016     Physics                    The Nobel Prize in Physics 2016
910  2016     Physics                    The Nobel Prize in Physics 2016

                                            motivation prize_share  \
0    "in recognition of the extraordinary services ...         1/1
1    "in special recognition of his poetic composit...         1/1
2    "for his work on serum therapy, especially its...         1/1
3                                                  NaN         1/2
4                                                  NaN         1/2
5    "in recognition of the extraordinary services ...         1/1
6    "in recognition of the extraordinary services ...         1/1
7    "the greatest living master of the art of hist...         1/1
8    "for his work on malaria, by which he has show...         1/1
9                                                  NaN         1/2
10                                                 NaN         1/2
11   "in recognition of the extraordinary service t...         1/2
12   "in recognition of the extraordinary service t...         1/2
13   "in recognition of the extraordinary services ...         1/1
14   "as a tribute to his noble, magnificent and ve...         1/1
15   "in recognition of his contribution to the tre...         1/1
16                                                 NaN         1/1
17   "in recognition of the extraordinary services ...         1/2
18   "in recognition of the extraordinary services ...         1/4
19   "in recognition of the extraordinary services ...         1/4
20   "in recognition of his services in the discove...         1/1
21   "in recognition of the fresh originality and t...         1/2
22   "in recognition of the numerous and brilliant ...         1/2
23   "in recognition of his work on the physiology ...         1/1
24                                                 NaN         1/1
25   "for his investigations of the densities of th...         1/1
26   "in recognition of his services in the advance...         1/1
27   "because of his outstanding merits as an epic ...         1/1
28   "for his investigations and discoveries in rel...         1/1
29                                                 NaN         1/1
..                                                 ...         ...
881  "for their discoveries of cells that constitut...         1/2
882  "for their discoveries of cells that constitut...         1/4
883  "for their discoveries of cells that constitut...         1/4
884  "for their struggle against the suppression of...         1/2
885  "for their struggle against the suppression of...         1/2
886  "for the invention of efficient blue light-emi...         1/3
887  "for the invention of efficient blue light-emi...         1/3
888  "for the invention of efficient blue light-emi...         1/3
889            "for mechanistic studies of DNA repair"         1/3
890            "for mechanistic studies of DNA repair"         1/3
891            "for mechanistic studies of DNA repair"         1/3
892  "for his analysis of consumption, poverty, and...         1/1
893  "for her polyphonic writings, a monument to su...         1/1
894  "for their discoveries concerning a novel ther...         1/4
895  "for their discoveries concerning a novel ther...         1/4
896  "for her discoveries concerning a novel therap...         1/2
897  "for its decisive contribution to the building...         1/1
898  "for the discovery of neutrino oscillations, w...         1/2
899  "for the discovery of neutrino oscillations, w...         1/2
900  "for the design and synthesis of molecular mac...         1/3
901  "for the design and synthesis of molecular mac...         1/3
902  "for the design and synthesis of molecular mac...         1/3
903       "for their contributions to contract theory"         1/2
904       "for their contributions to contract theory"         1/2
905  "for having created new poetic expressions wit...         1/1
906  "for his discoveries of mechanisms for autophagy"         1/1
907  "for his resolute efforts to bring the country...         1/1
908  "for theoretical discoveries of topological ph...         1/2
909  "for theoretical discoveries of topological ph...         1/4
910  "for theoretical discoveries of topological ph...         1/4

     laureate_id laureate_type  \
0            160    Individual
1            569    Individual
2            293    Individual
3            462    Individual
4            463    Individual
5              1    Individual
6            161    Individual
7            571    Individual
8            294    Individual
9            464    Individual
10           465    Individual
11             2    Individual
12             3    Individual
13           162    Individual
14           572    Individual
15           295    Individual
16           466    Individual
17             4    Individual
18             5    Individual
19             6    Individual
20           163    Individual
21           573    Individual
22           574    Individual
23           296    Individual
24           467  Organization
25             8    Individual
26           164    Individual
27           575    Individual
28           297    Individual
29           468    Individual
..           ...           ...
881          903    Individual
882          904    Individual
883          905    Individual
884          913    Individual
885          914    Individual
886          906    Individual
887          907    Individual
888          908    Individual
889          921    Individual
890          922    Individual
891          923    Individual
892          926    Individual
893          924    Individual
894          916    Individual
895          917    Individual
896          918    Individual
897          925  Organization
898          919    Individual
899          920    Individual
900          931    Individual
901          932    Individual
902          933    Individual
903          935    Individual
904          936    Individual
905          937    Individual
906          927    Individual
907          934    Individual
908          928    Individual
909          929    Individual
910          930    Individual

                                             full_name  birth_date  \
0                         Jacobus Henricus van 't Hoff  1852-08-30
1                                      Sully Prudhomme  1839-03-16
2                               Emil Adolf von Behring  1854-03-15
3                                    Jean Henry Dunant  1828-05-08
4                                       Frédéric Passy  1822-05-20
5                               Wilhelm Conrad Röntgen  1845-03-27
6                                 Hermann Emil Fischer  1852-10-09
7                   Christian Matthias Theodor Mommsen  1817-11-30
8                                          Ronald Ross  1857-05-13
9                                        Élie Ducommun  1833-02-19
10                                Charles Albert Gobat  1843-05-21
11                              Hendrik Antoon Lorentz  1853-07-18
12                                       Pieter Zeeman  1865-05-25
13                             Svante August Arrhenius  1859-02-19
14                      Bjørnstjerne Martinus Bjørnson  1832-12-08
15                                 Niels Ryberg Finsen  1860-12-15
16                               William Randal Cremer  1828-03-18
17                             Antoine Henri Becquerel  1852-12-15
18                                        Pierre Curie  1859-05-15
19                         Marie Curie, née Sklodowska  1867-11-07
20                                  Sir William Ramsay  1852-10-02
21                                    Frédéric Mistral  1830-09-08
22                         José Echegaray y Eizaguirre  1832-04-19
23                               Ivan Petrovich Pavlov  1849-09-14
24   Institut de droit international (Institute of ...         NaN
25                 Lord Rayleigh (John William Strutt)  1842-11-12
26           Johann Friedrich Wilhelm Adolf von Baeyer  1835-10-31
27                                  Henryk Sienkiewicz  1846-05-05
28                                         Robert Koch  1843-12-11
29   Baroness Bertha Sophie Felicita von Suttner, n...  1843-06-09
..                                                 ...         ...
881                                       John O'Keefe  1939-11-18
882                                    May-Britt Moser  1963-01-04
883                                    Edvard I. Moser  1962-04-27
884                                  Kailash Satyarthi  1954-01-11
885                                   Malala Yousafzai  1997-07-12
886                                      Isamu Akasaki  1929-01-30
887                                      Hiroshi Amano  1960-09-11
888                                     Shuji Nakamura  1954-05-22
889                                      Tomas Lindahl  1938-01-28
890                                       Paul Modrich  1946-06-13
891                                        Aziz Sancar  1946-09-08
892                                       Angus Deaton  1945-10-19
893                                Svetlana Alexievich  1948-05-31
894                                William C. Campbell  1930-06-28
895                                      Satoshi Ōmura  1935-07-12
896                                          Youyou Tu  1930-12-30
897                          National Dialogue Quartet         NaN
898                                     Takaaki Kajita  1959-03-09
899                                 Arthur B. McDonald  1943-08-29
900                                Jean-Pierre Sauvage  1944-10-21
901                             Sir J. Fraser Stoddart  1942-05-24
902                                 Bernard L. Feringa  1951-05-18
903                                        Oliver Hart  1948-10-09
904                                    Bengt Holmström  1949-04-18
905                                          Bob Dylan  1941-05-24
906                                   Yoshinori Ohsumi  1945-02-09
907                                 Juan Manuel Santos  1951-08-10
908                                  David J. Thouless  1934-09-21
909                               F. Duncan M. Haldane  1951-09-14
910                              J. Michael Kosterlitz  1943-06-22

                           birth_city                     birth_country  \
0                           Rotterdam                       Netherlands
1                               Paris                            France
2                   Hansdorf (Lawice)                  Prussia (Poland)
3                              Geneva                       Switzerland
4                               Paris                            France
5                  Lennep (Remscheid)                 Prussia (Germany)
6                          Euskirchen                 Prussia (Germany)
7                             Garding               Schleswig (Germany)
8                              Almora                             India
9                              Geneva                       Switzerland
10                           Tramelan                       Switzerland
11                             Arnhem                       Netherlands
12                         Zonnemaire                       Netherlands
13                                Vik                            Sweden
14                             Kvikne                            Norway
15                          Thorshavn           Faroe Islands (Denmark)
16                            Fareham                    United Kingdom
17                              Paris                            France
18                              Paris                            France
19                             Warsaw           Russian Empire (Poland)
20                            Glasgow                          Scotland
21                           Maillane                            France
22                             Madrid                             Spain
23                             Ryazan                            Russia
24                                NaN                               NaN
25      Langford Grove, Maldon, Essex                    United Kingdom
26                             Berlin                 Prussia (Germany)
27                     Wola Okrzejska                            Poland
28   Clausthal (Clausthal-Zellerfeld)                           Germany
29                             Prague  Austrian Empire (Czech Republic)
..                                ...                               ...
881                      New York, NY          United States of America
882                          Fosnavåg                            Norway
883                           Ålesund                            Norway
884                           Vidisha                             India
885                           Mingora                          Pakistan
886                            Chiran                             Japan
887                         Hamamatsu                             Japan
888                             Ikata                             Japan
889                         Stockholm                            Sweden
890                         Raton, NM          United States of America
891                             Savur                            Turkey
892                         Edinburgh                    United Kingdom
893                   Ivano-Frankivsk                           Ukraine
894                          Ramelton                           Ireland
895              Yamanashi Prefecture                             Japan
896                   Zhejiang Ningbo                             China
897                               NaN                               NaN
898                  Higashimatsuyama                             Japan
899                            Sydney                            Canada
900                             Paris                            France
901                         Edinburgh                    United Kingdom
902                 Barger-Compascuum                       Netherlands
903                            London                    United Kingdom
904                          Helsinki                           Finland
905                        Duluth, MN          United States of America
906                           Fukuoka                             Japan
907                            Bogotá                          Colombia
908                          Bearsden                    United Kingdom
909                            London                    United Kingdom
910                          Aberdeen                    United Kingdom

        sex                                  organization_name  \
0      Male                                  Berlin University
1      Male                                                NaN
2      Male                                 Marburg University
3      Male                                                NaN
4      Male                                                NaN
5      Male                                  Munich University
6      Male                                  Berlin University
7      Male                                                NaN
8      Male                                 University College
9      Male                                                NaN
10     Male                                                NaN

In [2]:
# Display the number of (possibly shared) Nobel Prizes handed
# out between 1901 and 2016
shared = nobel[nobel.organization_country.isnull()]
print(shared.year.count())


# Display the number of prizes won by male and female recipients.
# ... YOUR CODE FOR TASK 2 ...
print(nobel["sex"].value_counts())
# Display the number of prizes won by the top 10 nationalities.
print(nobel["birth_country"].value_counts().head(10))

244
Male      836
Female     49
Name: sex, dtype: int64
United States of America    259
United Kingdom               85
Germany                      61
France                       51
Sweden                       29
Japan                        24
Netherlands                  18
Canada                       18
Russia                       17
Italy                        17
Name: birth_country, dtype: int64

In [3]:
nobel['birth_country'].unique()
nobel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 18 columns):
year                    911 non-null int64
category                911 non-null object
prize                   911 non-null object
motivation              823 non-null object
prize_share             911 non-null object
laureate_id             911 non-null int64
laureate_type           911 non-null object
full_name               911 non-null object
birth_date              883 non-null object
birth_city              883 non-null object
birth_country           885 non-null object
sex                     885 non-null object
organization_name       665 non-null object
organization_city       667 non-null object
organization_country    667 non-null object
death_date              593 non-null object
death_city              576 non-null object
death_country           582 non-null object
dtypes: int64(2), object(16)
memory usage: 128.2+ KB

In [13]:
# Calculating the proportion of USA born winners per decade
#nobel['usa_born_winner'] = nobel[nobel.birth_country == "United States of America"]
nobel['decade'] = nobel.year.decade
#prop_usa_winners = ...
print(nobel['decade']) 
# Display the proportions of USA born winners per decade
# ... YOUR CODE FOR TASK 3 ...

AttributeError: 'Series' object has no attribute 'decade'